.navbar_component {
  margin: 7vh;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.3vh solid var(--darkbeige);
  border-bottom: 0.3vh solid var(--darkbeige);
}

.navbar_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-right: 10vw;
  color: var(--green);
}

.navbar_block li {
  font-size: 2.5vh;
  font-weight: bold;
}

.website_name {
  color: var(--green);
  margin-left: 5vw;
  cursor: pointer;
}
