* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: var(--text-font-family-jost);
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

@font-face {
  font-family: JostRegular;
  src: url(./assets/fonts/Jost-Regular.ttf);
}

@font-face {
  font-family: JostBold;
  src: url(./assets/fonts/Jost-Bold.ttf);
}

@font-face {
  font-family: DancingScript;
  src: url(./assets/fonts/DancingScript-Bold.ttf);
}

:root {
  --beige: #fff9f0;
  --darkbeige: #e7d4b3;
  --green: #5c7c79;
  --darkgreen: #2b444d;
  --grey: #e0ded4;
  --white: #ffffff;
  --black: #000000;
  --maintitle-font-family: "DancingScript";
  --title-font-family-jost: "JostBold";
  --text-font-family-jost: "JostRegular";
}

body {
  background-color: var(--beige);
}

h1 {
  font-family: var(--maintitle-font-family);
  font-size: 5vh;
}
h2 {
  font-family: var(--title-font-family-jost);
  font-size: 1.6vw;
}
h3 {
  font-family: var(--title-font-family-jost);
  font-size: 1.4vw;
}
h4 {
  font-family: var(--title-font-family-jost);
  font-size: 1.2vw;
}

p,
button,
li {
  font-family: var(--text-font-family-jost);
  font-size: 1.1vw;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
